.contactUnit{
    grid-area: contacts;
    background-color: thistle;
    margin: 5px;
    border-radius: 10px;  
}
.contactUnit:hover{
    background-color:rgb(116, 252, 168) ;
}
.contactStyle{
    width: max-content;
    margin: auto;
    font-style: oblique;
    font-weight: bold;
}

.messagePicture{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}